@font-face {
  font-family: 'ACaslonPro';
  src: url('./fonts/ACaslonPro-Regular.otf') format('truetype'), /* Safari, Android, iOS */ 
}


@font-face {
  font-family: 'Springville';
  src: local('Springville'), url('./fonts/Springville-Regular3.otf') format('truetype')
}